<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: <br>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>List a few arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are: <br>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include: <br>
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
</ol>

|Data Science Tools|
| --- |
|Visual Studio Code|
|RStudio|
|JupyterLab|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Limeng